@import url("../../App.css");

.banner {
  margin-top: 40px;
  min-height: 648px;
  background-image: url("../../assets/banner.png");
  background-size: cover;
  width: 100%;
}
.banner > .container > .banner-inner {
  display: flex;
  padding: 100px 0;
}
.banner > .container > .banner-inner > .banner-left {
  flex: 1;

  > p {
    text-transform: uppercase;
    font: var(--secular-56);
    color: var(--white);
    > span {
      color: var(--black);
    }
  }
  > button {
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    border-radius: 10px;
    padding: 8px 16px;
    font: var(--secular-28);
    border: none;
    cursor: pointer;
    width: 100%;
  }
}
.banner > .container > .banner-inner > .banner-right {
  flex: 1.8;
}

@media (max-width: 1290px) {
  .banner {
    background-position: center;
  }
  .banner > .container > .banner-inner > .banner-left {
    flex: 1;

    > p {
      text-transform: uppercase;
      font: var(--secular-40);
      color: var(--white);
      > span {
        color: var(--black);
      }
    }
    > button {
      background-color: var(--black);
      color: var(--white);
      text-transform: uppercase;
      border-radius: 10px;
      padding: 8px 16px;
      font: var(--secular-28);
      border: none;
      cursor: pointer;
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .banner {
    background-size: contain;
    height: 200px;
    background-repeat: no-repeat;
    margin: 0;
  }
  .banner > .container > .banner-inner > .banner-left {
    > p {
      text-transform: uppercase;
      font: var(--secular-32);
    }
    > button {
      font: var(--secular-20);
    }
  }
  .banner > .container > .banner-inner > .banner-left {
    flex: 1;
    padding-top: 65px;
  }
}

@media (max-width: 768px) {
  .banner {
    min-height: 390px;
  }
  .banner > .container > .banner-inner > .banner-left {
    flex: 1;
    padding-top: 0;
  }
  .banner > .container > .banner-inner {
    padding-top: 80px;
  }
  .banner > .container > .banner-inner > .banner-left {
    > p {
      text-transform: uppercase;
      font: var(--secular-24);
    }
    > button {
      font: var(--secular-16);
    }
  }
}

@media (max-width: 566px){
  .banner {
    min-height: 300px;
  }
  .banner > .container > .banner-inner > .banner-left {
    flex: 1;
    padding-top: 0;
  }
  .banner > .container > .banner-inner {
    padding-top: 60px;
  }
  .banner > .container > .banner-inner > .banner-left {
    > p {
      text-transform: uppercase;
      font: var(--secular-18);
    }
    > button {
      font: var(--secular-14);
    }
  }
}

@media (max-width: 400px){
  .banner {
    min-height: 250px;
  }
  .banner > .container > .banner-inner > .banner-left {
    flex: 1;
    padding-top: 0;
  }
  .banner > .container > .banner-inner {
    padding-top: 60px;
  }
  .banner > .container > .banner-inner > .banner-left {
    > p {
      text-transform: uppercase;
      font: var(--secular-14);
    }
    > button {
      font: var(--secular-12);
    }
  }
}