:root {
  --red: #b40f36;
  --white: #fff;
  --black: #1e1e1e;
  --gray-white: #f2f2f2;
  --gray: #525252;
  --bg-black: #010001;
  --secular-12: 12px "Secular One", sans-serif;

  --secular-16: 16px "Secular One", sans-serif;
  --secular-20: 20px "Secular One", sans-serif;
  --secular-28: 28px "Secular One", sans-serif;
  --secular-56: 56px "Secular One", sans-serif;
  --lexend-16: 16px "Lexend", sans-serif;
  --lexend-12-light: lighter 12px "Lexend", sans-serif;
  --lexend-12-regular: 12px "Lexend", sans-serif;
  --lexend-14-regular: 14px "Lexend", sans-serif;
}

body {
  background-color: var(--bg-black);
}

.container {
  max-width: 86%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 95%;
  }
}


